<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="manifest" href="/manifest.json">

    <title>Slackbot</title>

    <style>
    *,body{box-sizing:border-box}body,body>header{width:100%;padding:0}body{font-size:16px;font-family:sans-serif;margin:0;height:100%;overflow-x:hidden;overflow-y:scroll}h1{color:#ee6e73}.autoplay,body>header{position:fixed;margin:0}body>header{display:flex;justify-content:center;text-align:center;background-color:#ee6e73;height:20vh;flex-direction:column;font-weight:400;min-height:12.5em}body>header>h1{margin:0;color:#fff;padding:0 0 1.5em;font-size:3em}body>main{width:80%;width:80vw;display:block;padding:0;float:right}body>.nav_wrapper>nav,body>main>.inner{background-color:#fff;box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2)}body>main>.inner{display:block;position:relative;padding:2rem;max-width:62.5em;margin:10em auto 0;width:80%}.disable,body>.nav_wrapper>nav{position:fixed;top:0;left:0;height:100%;display:block}body>.nav_wrapper>nav{max-width:30vw;width:18.75em;z-index:2001}body>.nav_wrapper>nav>h1{margin:0;padding:1.563em .938em;border-bottom:.063em solid rgba(0,0,0,.2)}body>.nav_wrapper>nav>ul{width:100%;padding:0;margin:0;list-style-type:none}body>.nav_wrapper>nav>ul li a{display:block;padding:.938em 1.25em;border-bottom:.063em solid rgba(0,0,0,.1);color:#101010;text-decoration:none;background-color:transparent}.autoplay{right:.938em;top:.938em;color:#000;font-size:1.5em;z-index:2001}.disable{right:0;bottom:0;width:100%;z-index:2000}button,input{border-radius:.125em}button{text-decoration:none;color:#fff;background-color:#26a69a;text-align:center;position:relative;display:inline-block;overflow:hidden;vertical-align:middle;z-index:1;text-transform:uppercase;outline:0;border-width:0;box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);padding:.75em 1em;font-size:.938em}input{border:.063em solid #ddd;margin-right:10px;font-size:1em;padding:.75em}body>.nav_wrapper>input,body>.nav_wrapper>label{display:none}@media screen and (max-width:1350px){.autoplay{right:inherit;left:1em}body>.nav_wrapper>nav{width:100%;max-width:100%;left:100%}body>main{width:100%}body>.nav_wrapper>label{position:fixed;top:-10px;right:1.563em;z-index:2003;font-size:2.5em;display:block;transform:scale(1)}body>.nav_wrapper>label::before{content:'__';position:absolute;top:-10px}body>.nav_wrapper>label::after{content:'__';position:absolute;top:10px;left:0}}@media screen and (max-width:47.938em){body>main>.inner{padding:1rem}}.hidden{display:none}
    </style>

	<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/styles.min.css">
</head>
<body>